<footer>
    <div class="finfo">
        <div class="fsocial">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="org">&copy; Aura adventure pvt.ltd</div>
        <div class="flinks">
            <a href="/privacy">Privacy &nbsp;</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>

