<% layout("/layouts/boilerplate") %>

<body>
    <div class="row">
        <div class="col-10 offset-1">
    <h3>Create a new listing </h3>
    <form action="/listings" method="post">
       <div class="mb-3">
         <label for="title" class="form-label">Title :- </label>
        <input type="text" placeholder="Enter title :-" name="listing[title]" class="form-control">
       </div>
       <div class="mb-3">
        <label for="description" class="form-label">Description :- </label>
        <textarea name="listing[description]" placeholder="Enter description :-" class="form-control" ></textarea>
       </div>
      <div class="mb-3">
        <label for="image" class="form-label">image url :-  </label>
        <input type="text" placeholder="Enter image url / link :-"name="listing[image]" class="form-control">
      </div>
   <div class="row">
    <div class="mb-3 col-5 ">
        <label for="price" class="form-label">Price :- </label>
        <input type="text" placeholder="Enter price :-" name="listing[price]" class="form-control">
        </div>
        <div class="mb-3 col-5 ">
        <label for="country" class="form-label">Country :- </label>
        <input type="text" placeholder="Enter country :-" name="listing[country]" class="form-control">
    </div>
   </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location :- </label>
        <input type="text" placeholder="Enter location :-" name="listing[location]" class="form-control">
      </div>
        <button class="btn btn-dark add-btn mb-3 mt-3">Add</button>
    </form>
</div>
</div>
</body>
